@{
    ViewBag.Title = "About RoboMail";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    RoboMail is a mail fraud detection and analysis tool using Machine Learning algorithms to prevent fraud and keep users safe.
</p>

<h4>Who</h4>

<p>RoboMail has been designed and built by Shlomo Tadela, 3rd year Computer Science Undergraduate for - ProjectName -</p>